body {
    background-color: #F9F9F9;
}
body * {
    color: #222; letter-spacing: -0.02rem;
}
header {
    background-color: #fff;
    padding: 0 80px;
    display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center;
    height: 70px; z-index: 999;
    position: fixed; width: 100%;
}
header h1 a {}
header h1 a img {}
header nav {
    position: absolute; left: 50%; transform: translateX(-50%);
}
header nav a {
    margin-right: 65px;
    font-size: 0.98rem; font-weight: 600;
}
header nav a:hover {
    border-bottom: 1px solid #222;
}
header nav a:last-child {margin-right: 0;}
header > a {
    padding: 5px 7px; border-radius: 15px;
    border: 1px solid #222;
    font-size: 0.75rem; 
}
header > a img {margin-left: 2px;}
/* main */
/* 공통 */
.container {
    width: 100%; margin-bottom: 100px;
}
.container .contents {
    max-width: 1600px; margin: 0 auto;
}
/*1.배경 개별 */
.container_bg {
    padding: 180px 0 200px;
    background: url(../images/main_bg.jpg);
    background-size: cover;
    height: 105vh;
    background-attachment: fixed;
}
.container_bg * {color: #fff;}
.container_bg .contents {
    /* position: fixed; width: 100%;
    left: 50%; transform: translateX(-50%); */
    display: flex; flex-flow: column nowrap; justify-content: space-between;
}
.container_bg .contents .rush_bigtxt {
    margin-bottom: 247px; 
    font-size: 12.50rem; font-weight: 900;
}
.container_bg .contents .bottom_box {
    display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: flex-end;
}
.container_bg .contents .bottom_box .left_info_box {}
.container_bg .contents .bottom_box .left_info_box .short_txt {
    display: flex; flex-flow: column nowrap; 
    margin-bottom: 41px;
}
.container_bg .contents .bottom_box .left_info_box .short_txt span {
    margin-bottom: 35px;
    font-size: 1.56rem; font-weight: 900;
    font-family: 'Pretendard';
}
.container_bg .contents .bottom_box .left_info_box .short_txt span:last-child {margin-bottom: 0;}
.container_bg .contents .bottom_box .left_info_box .long_txt {
    font-size: 1.25rem; font-weight: 700;
}
.container_bg .contents .bottom_box .right_app_box {
    display: flex; flex-flow: column nowrap; align-items: flex-end;
}
.container_bg .contents .bottom_box .right_app_box .app_info {
    margin-bottom: 17px;
    font-size: 1.05rem; font-weight: 500; font-family: 'Pretendard';
}
/* 버튼 */
.container_bg .contents .bottom_box .right_app_box .btn_app {display: flex;}
.container_bg .contents .bottom_box .right_app_box .btn_app a {
    display: flex; align-items: center;
    justify-content: center;
    line-height: 65px; width: 217px;
    border: 2px solid #fff; border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-right: 35px;
    font-size: 1.38rem; font-weight: 700;
}
.container_bg .contents .bottom_box .right_app_box .btn_app .google {
    margin: 0;
    background-color: #fff;  color: #222;
    border: transparent;
}
.container_bg .contents .bottom_box .right_app_box .btn_app a img {margin-left: 8px;}
/* 2. 러쉬 브랜드 소개 */
main .container_about {
    /* background-color:yellow; */
    padding: 100px 0;
    position: relative;
}
main .container_about::before {
    display: block;  content: ''; width: 100%; height: 100%; position: absolute; top: 0; left: 0; 
    background: url(../images/bubble_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}
main .container_about .contents {
    /* background-color: silver; */
    position: relative;
    z-index: 899;
}
main .container_about .contents::before {
    display: block;  content: ''; width: 100%; height: 100%; position: absolute; top: 0; left: 0; 
    background: url(.);
    background-repeat: no-repeat;
    background-size: cover;
}
main .container_about .contents .top_title {
    margin-bottom: 100px;
}
main .container_about .contents .top_title h2 {
    margin-bottom: 25px;
    opacity: 0;
    font-size: 3.44rem; font-weight: 900;
    font-family: 'Pretendard';
}
main .container_about .contents .top_title h2+p {
    opacity: 0;
    font-size: 1.19rem; font-weight: 500; line-height: 1.5;
    font-family: 'Pretendard';
}
/* ---------------------------------category */
main .container_about .contents .about_category {
    position: absolute; left: 50%; top: 40%; transform: translateX(-50%); z-index: 998;
}
main .container_about .contents .about_category li {margin-bottom: 65px;}
main .container_about .contents .about_category li:last-child {margin-bottom: 0;}
main .container_about .contents .about_category li a {
    background: linear-gradient(to left, transparent 50%, black 50%);
    background-size: 200% 100%;
    background-position: right;
    display: block;
    text-align: center;
    font-size: 2.94rem; font-weight: 900;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #222;
    -webkit-background-clip: text;
    transition: background-position 0.5s ease-out;
}
main .container_about .contents .about_category li:hover a {
    background-position: left;
}
main .container_about .contents .about_category li .black {
    -webkit-text-fill-color: #222;
    background: none;
}
/* 버블 */
main .container_about .contents .bubble_wrap {
    position: absolute; left: 50%; top: 20%; transform: translateX(-50%); z-index: 997;
    width: calc(100% / 3); height: calc(100% / 2);
}
main .container_about .contents .bubble_wrap img {
    position: absolute;
}
main .container_about .contents .bubble_wrap .top_left {
    top: 0; left: 5px;
}
main .container_about .contents .bubble_wrap .bottom_left {
    bottom: 5px; left: 25px;
}
main .container_about .contents .bubble_wrap .top_right {
    top: 10px; right: 35px;
}
main .container_about .contents .bubble_wrap .bottom_right {
    bottom: 160px; right: 10px;
}
/* 이미지+ 텍스트 공통 */
main .container_about .contents .bottom_ani_box .left_box_ani > * ,
main .container_about .contents .bottom_ani_box .right_box_ani > * {
    width: 315px; 
}
main .container_about .contents  .image {
    margin-bottom: 9px; 
}
main .container_about .contents .image img {
    border-radius: 50%; overflow: hidden;
    width: 315px; height: 315px;
}
/* ================================ 공통 */
main .container_about .contents .bottom_ani_box {
    position: relative;
    display: flex; justify-content: space-between;
    height: 100vh;
}
main .container_about .contents .bottom_ani_box .left_box_ani {}
main .container_about .contents .bottom_ani_box .txt {
    font-size: 1.10rem; font-family: 'Pretendard'; line-height: 1.5;
    font-weight: 600;
}
/* 왼쪽 위 -1 */
main .container_about .contents .bottom_ani_box .left_box_ani .left_top {
    position: absolute; top: 35px; left: 212px;
}
main .container_about .contents .bottom_ani_box .left_box_ani .left_top .image {}
main .container_about .contents .bottom_ani_box .left_box_ani .left_top .image img {
}
main .container_about .contents .bottom_ani_box .left_box_ani .left_top .image+p {
    text-align: left;
}
/* 왼쪽 아래 -2 */
main .container_about .contents .bottom_ani_box .left_box_ani .left_bottom {
    position: absolute; bottom: 126px; left: 136px;
}
main .container_about .contents .bottom_ani_box .left_box_ani .left_bottom .image {}
main .container_about .contents .bottom_ani_box .left_box_ani .left_bottom .image img {}
main .container_about .contents .bottom_ani_box .left_box_ani .left_bottom .image+p {
    text-align: left;
}

main .container_about .contents .bottom_ani_box .right_box_ani {
}
/* 오른쪽 위 - 3 */
main .container_about .contents .bottom_ani_box .right_box_ani .right_top {
    position: absolute; top: 14px; right: 80px;
}
main .container_about .contents .bottom_ani_box .right_box_ani .right_top .image {}
main .container_about .contents .bottom_ani_box .right_box_ani .right_top .image img {}
main .container_about .contents .bottom_ani_box .right_box_ani .right_top .image+p {}
main .container_about .contents .bottom_ani_box .right_box_ani .right_top .image+p {
    text-align: right;
}
/* 오른쪽 아래 - 4 */
main .container_about .contents .bottom_ani_box .right_box_ani .right_bottom {
    position: absolute; bottom: 100px; right: 147px;
}
main .container_about .contents .bottom_ani_box .right_box_ani .right_bottom .image {}
main .container_about .contents .bottom_ani_box .right_box_ani .right_bottom .image img {}
main .container_about .contents .bottom_ani_box .right_box_ani .right_bottom .image+p {
    text-align: right;
}
/* ======================2. history */
main .container_about .contents .ani_box2 {
    display: none;
    opacity: 0;
}
/* ======================3. values */
main .container_about .contents .ani_box3 {
    display: none;
}
/* ======================4. politics */
main .container_about .contents .ani_box4 {
    display: none;
}
/* 개별 - 위치랑 텍스트 위치?  */
/* 일단 위치부터~! */
/* 왼쪽 위 -1 */
main .container_about .contents .ani_box2 .left_box_ani .left_top,
main .container_about .contents .ani_box4 .left_box_ani .left_top {
    position: absolute; top:135px; left: 145px;
}
/* 왼쪽 아래 -2 */
main .container_about .contents .ani_box2 .left_box_ani .left_bottom,
main .container_about .contents .ani_box4 .left_box_ani .left_bottom {
    position: absolute; bottom: 10px; left: 210px;
}
/* 오른쪽 위 - 3 */
main .container_about .contents .ani_box2 .right_box_ani .right_top,
main .container_about .contents .ani_box4 .right_box_ani .right_top {
    position: absolute; top: -50px; right: 170px;
}
/* 오른쪽 아래 - 4 */
main .container_about .contents .ani_box2 .right_box_ani .right_bottom,
main .container_about .contents .ani_box4 .right_box_ani .right_bottom {
    position: absolute; bottom: 128px; right: 114px;
}
/* 버블- 2/4 */
main .container_about .contents .ani_box2 .bubble_wrap .top_left,
main .container_about .contents .ani_box4 .bubble_wrap .top_left {
    top: 5px; left: 30px;
}
main .container_about .contents .ani_box2 .bubble_wrap .bottom_left,
main .container_about .contents .ani_box4 .bubble_wrap .bottom_left {
    bottom: 180px; left: 5px;
}
main .container_about .contents .ani_box2 .bubble_wrap .top_right,
main .container_about .contents .ani_box4 .bubble_wrap .top_right {
    top: 10px; right: 75px;
}
main .container_about .contents .ani_box2 .bubble_wrap .bottom_right,
main .container_about .contents .ani_box4 .bubble_wrap .bottom_right {
    bottom: 25px; right: 25px;
}

/* 3. 보고서 */
main .container_report {
    background: url(../images/report_bg.jpg);
    background-repeat: no-repeat;
    width: 100%; height: 460px;
    display: flex; align-items: center;
}
main .container_report .contents {
    max-width: 1600px; margin: 0 auto;
    display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center;
    padding-right: 200px;
}
main .container_report .contents .report_left {
    display: flex; flex-flow: row nowrap;
    padding-right: 150px;
}
main .container_report .contents .report_left .left_box {
    background-color: rgba(255, 255, 255, 0.2);
    width: 320px;
    padding: 40px 0; text-align: center;
    border-radius: 45px;
}
main .container_report .contents .report_left .left_box > * {
    margin-bottom: 25px; color: #fff;
}
main .container_report .contents .report_left .left_box:first-child {margin-right: 140px;}
main .container_report .contents .report_left .left_box .top_box {}
main .container_report .contents .report_left .left_box .top_box .title {margin-bottom: 20px; color:  #fff; font-weight: 900; }
main .container_report .contents .report_left .left_box .top_box .img {width: 100%;}
main .container_report .contents .report_left .left_box .info_report {
    font-size: 0.94rem; font-weight: 500; line-height: 1.5;
    font-family: 'Pretendard'; height:60px;
}
main .container_report .contents .report_left .left_box .btn_report {
    display: inline-block;
    margin-bottom: 0; width: 115px; line-height: 35px;
    color: #222; background-color: #fff;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px; font-weight: 900;
    font-family: 'Pretendard';
}
main .container_report .contents .report_left .left_box .btn_report:hover {
    background-color: #222; color: #fff;
}
/* 오른쪽 */
main .container_report .contents .report_right {}
main .container_report .contents .report_right p {
    color: #fff;
}
main .container_report .contents .report_right .cam_title {
    margin-bottom: 35px; font-size: 2.50rem; font-weight: 900;
}
main .container_report .contents .report_right .cam_info {
    font-size: 1.13rem; font-weight: 500; font-family: 'Pretendard';
}
/* ================================================ 4. 제품 소개 */
/* 어렵따 */
main .container_items {
    /* height: 500vh;  */z-index: 999;
    background: url(../images/natural_beauty2.png) no-repeat;
    background-attachment: fixed;
    /* position: sticky; top: 100px;  */
    background-position-x: 100px;
    background-position-y: 135px; 
}
main .container_items .contents_bg {
}
main .container_items .contents {
    z-index: 998; /* position: sticky; */
    /* width: 80%; height: 80%; */
}
main .container_items .contents .top_info_box {
    display: flex; flex-flow: row nowrap; justify-content: flex-start;
    margin-bottom: 60px;
    position: sticky; top: 153px;
}
main .container_items .contents .top_info_box .left_box {
    margin-right: 200px;
}
main .container_items .contents .top_info_box .left_box .brand {
    margin-bottom: 25px; font-family: 'Pretendard';
    font-size: 2.06rem; font-weight: 800;
}
main .container_items .contents .top_info_box .left_box .brand_info {
    line-height: 1.5; font-size: 1.19rem; font-family: 'Pretendard';
}
main .container_items .contents .top_info_box .title_box {
    overflow: hidden;
}
main .container_items .contents .top_info_box .title_box .title {
    font-size: 2.50rem; font-weight: 900;
}
/* a - 더 자세히 보기 */
main .container_items .contents .top_info_box .title_box .btn_product {
    border-radius: 30px; border: 1.4px solid #222;
    padding: 10px 17px; display: inline-block;
    margin-top: 20px; font-weight: 500; font-family: 'Pretendard';

}
/* 움직이는 컨텐츠 */
/* 공통 */
main .container_items .contents .move_contents {
    /* background-color: lightgreen;  */
    width: 100%; height: 150vh;
    position: relative;
    display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center;
    /* height: 100vh; */
    opacity: 0;
}
/* ☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆ 글자 */
main .container_items .contents .move_contents .main_title {
    position: absolute; left: 50%; top:20%; transform: translateX(-50%);
    font-size: 14.38rem; font-weight: 900;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #000; z-index: 999;
    -webkit-background-clip: text !important; 
    /* opacity: 0; */
    background: linear-gradient(to left, transparent 50%, black 50%);
    background-size: 200% 100%;
    background-position: right;
    display: block; 
    transition: background-position 2.5s ease-out;
}
main .container_items .contents .move_contents .img_left_box {
    height: 100vh; width: 1200px;
}
main .container_items .contents .move_contents .img_left_box > * {
    width: 259px; height: 259px;
    border-radius: 50%; overflow: hidden;
}
main .container_items .contents .move_contents .img_left_box .left1 {
    position: absolute; top:300px; margin-left: 20px; 
} 
main .container_items .contents .move_contents .img_left_box .left1 img {width: 100%;}
main .container_items .contents .move_contents .img_left_box .left2 {
    position: absolute; top: 310px; left: 312px;
}
main .container_items .contents .move_contents .img_left_box .left2 img {width: 100%;}
main .container_items .contents .move_contents .img_right {
    width: 603px; height: 603px;
    border-radius: 50%; overflow: hidden;
    position: absolute; top: 500px; right: 10px;
    /* opacity: 0; */
}
main .container_items .contents .move_contents .img_right img {width: 100%; }
/* bath */
main .container_items .contents .move1 {}
main .container_items .contents .move2 {opacity: 0;
    
}
/* shower */
main .container_items .contents .move3 {
    opacity: 0;
    
}
/* body */
/* ================================================5. 서비스 소개 */

main .container_service {
    padding: 80px 0 170px;
    overflow: hidden;
}
main .container_service .contents {}
main .container_service .contents .title_box {
    margin-bottom: 100px;
    overflow: hidden;
}
main .container_service .contents .title_box .title_service {
    float: left;
    font-size: 3.44rem; font-weight: 900;
}
main .container_service .contents .title_box .title_sub {
    float: right;
}
main .container_service .contents .title_box .title_sub .sub_title {
    font-size: 2.38rem; font-weight: 900; font-family: 'Pretendard';
    margin-bottom: 10px;
}
main .container_service .contents .title_box .title_sub .info {
    font-size: 1.19rem; font-weight: 500; font-family: 'Pretendard';
}
/* 아래 컨텐츠 */
main .container_service .contents .bottom_contents {
    display: flex; flex-flow: row nowrap; justify-content: space-between;
}
main .container_service .contents .bottom_contents a {
    width: 362px; height: 352px;
    background-size: cover; border-radius: 45px;
    overflow: hidden;
    padding: 30px;
    position: relative;
    display: flex; flex-flow: column nowrap;
}
main .container_service .contents .bottom_contents a::after {
    display: block; position: absolute; top: 0; left: 0;
    width: 100%; height: 100%; content: '';
    background: rgb(0, 0, 0, 0.5); z-index: 5;
    transition: background 0.3s linear;
}
main .container_service .contents .bottom_contents a span {
    color: #fff; z-index: 6; position: relative;
    transition: color 0.5s ease-in-out;
} 
main .container_service .contents .bottom_contents a:hover span {
    color: #000000;
}
main .container_service .contents .bottom_contents a:hover::after {
    background: rgb(255, 255, 255, 0.1);
}
main .container_service .contents .bottom_contents a .title {
    margin-bottom: 10px;
    font-size: 1.56rem; font-weight: 700; font-family: 'Pretendard';
}
main .container_service .contents .bottom_contents a .info {
    font-size: 1.13rem; font-weight: 600; font-family: 'Pretendard';
}
main .container_service .contents .bottom_contents .spa {
    background: url(../images/spa1.jpg) no-repeat;
    display: flex; justify-content: end;
}
main .container_service .contents .bottom_contents .vip {
    background: url(../images/vip2.jpg) no-repeat;
}
main .container_service .contents .bottom_contents .vip,
main .container_service .contents .bottom_contents .digital {
    position: relative; top: 50px;
}
main .container_service .contents .bottom_contents .present {
    background: url(../images/present2.jpg) no-repeat;
    display: flex; justify-content: end;
}
main .container_service .contents .bottom_contents .digital {
    background: url(../images/phone2.jpg) no-repeat;
}
/* =====================================6. 설문조사 */
main .container_survey {
    background: url(../images/survey.jpg) no-repeat;
    background-size: cover;
    height: 380px;
    position: relative;
    padding: 83px 0;
    margin-bottom: 0;
}
main .container_survey::after {
    display: block; position: absolute; top: 0; left: 0;
    width: 100%; height: 100%; content: '';
    background: rgb(0, 0, 0, 0.3); z-index: 5;
}
main .container_survey .contents {
    position: relative; z-index: 6;
    
}
main .container_survey .contents * {color: #fff;}
main .container_survey .contents .top_box {
    margin-bottom: 70px;
}
main .container_survey .contents .top_box .title {
    margin-bottom: 40px; font-weight: 500;
}
main .container_survey .contents .top_box .main_title {
    font-size: 2.38rem; font-weight: 900;
}
main .container_survey .contents .survey {
    display: flex; align-items: center; justify-content: center;
    border: 1px solid #fff;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 161px; line-height: 50px;
    transition: background-color 0.3s linear; font-weight: 700;
}
main .container_survey .contents .survey:hover {
    background-color: #222; border: #222;
}
main .container_survey .contents .survey img {}

/* ============================= footer */
footer {
    background-color: #222;
    padding: 100px 0 50px;
}
footer * {
    color: #fff;
}
footer .contents {
    max-width: 1600px; margin: 0 auto;
}
footer .contents .top_contents {
    margin-bottom: 60px;
    display: flex; justify-content: space-between; flex-flow: row nowrap;
    position: relative;
}
footer .contents .top_contents .left_info {
    display: flex; justify-content: space-between; flex-flow: row nowrap;
}
footer .contents .top_contents .left_info .left_a_box {
    margin-right: 40px;
}
/* 공통 */
footer .contents .top_contents .left_info .text_box {
    display: flex; flex-flow: column nowrap; margin-bottom: 25px;
}
footer .contents .top_contents .left_info .text_box:last-child {
    margin-bottom: 0;
}
footer .contents .top_contents .left_info .text_box .title {
    margin-bottom: 11px;
    font-size: 1.00rem; font-weight: 700; font-family: 'Pretendard';
}
footer .contents .top_contents .left_info .text_box .info {
    font-size: 0.88rem; font-weight: 400; font-family: 'Pretendard';
}
/* 개별 */
footer .contents .top_contents .left_info .left_b_box .text_box .info {}
footer .contents .top_contents .left_info .left_b_box .text_box .info .talk_btn {
    border: 1px solid #fff;
    border-radius: 20px;
    font-size: 0.63rem; font-weight: 400;
    padding: 3px; 
}
footer .contents .top_contents .left_info .left_b_box .text_box .info .talk_btn img {width: 9px; height: 9px;}
/* 가운데 앱 */
footer .contents .top_contents .btn_wrap {
    position: absolute; top: 0; left: 50%; transform: translateX(-50%);
    display: flex; flex-flow: row nowrap;
}
footer .contents .top_contents .btn_wrap a {
    width: 170px; height: 50px;
    border: 1px solid #fff;
    background-size: cover;
}
footer .contents .top_contents .btn_wrap .apple_store {
    background: url(../images/btn_apple2.png) no-repeat;
    margin-right: 10px;
}
footer .contents .top_contents .btn_wrap .googleplay {
    background: url(../images/btn_google2.png) no-repeat;
}
/* 오른쪽 sns */
footer .contents .top_contents {}
footer .contents .top_contents .right_info {}
footer .contents .top_contents .right_info .sns_box {
    margin-bottom: 25px;
}
footer .contents .top_contents .right_info .sns_box > a {
    margin-right: 7px;
}
footer .contents .top_contents .right_info .sns_box > a:last-child {margin-right: 0;}
footer .contents .top_contents .right_info .sns_box > a img {}
footer .contents .top_contents .right_info .politics {
    display: flex; flex-flow: column nowrap;
    text-align: right;
}
footer .contents .top_contents .right_info .politics > a {
    margin-bottom: 20px; font-size: 1.00rem; font-weight: 700;
    font-family: 'Pretendard';
}
footer .contents .top_contents .right_info .politics > a:last-child {
    margin-bottom: 0;
}
/* 아래 */
footer .contents .bottom_images {
    display: flex; justify-content: space-between;
    margin-bottom: 17px;
}
footer .contents .bottom_images img {}
footer .contents > p {
    font-size: 1.00rem; font-weight: 600;

}











/* 
https://www.designkits.co.kr/blog/web-css/text/GSAP-SCROLL-EFFECT */